#list-view-properties {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
  margin-bottom: 0;
}

::ng-deep .datatable-row-group {
  &:hover {
    cursor: pointer;
  }
}

#go-back {
  margin-right: 6px;
  &:hover {
    cursor: pointer;
    color: red!important;
  }
}
